.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.r {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}



[class*="c-"] {grid-column: span 12;}


.main-content {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; 
    margin-bottom: 10px;
}



@media only screen and (min-width: 600px) {  /* 720px */

.container {
    width: 100%;
  }
    
.main-content {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px; 
        margin-bottom: 20px; 

    }
    
.r {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

.c-50 {
    grid-column: span 6;
}
.c-25 {
    grid-column: span 3;
}    
.c-75 {
    grid-column: span 9;
}    
.c-100 {
    grid-column: span 12;
}  
    

.c-1 {
    grid-column: span 1;
}

.c-2 {
    grid-column: span 2;
}

.c-3 {
    grid-column: span 3;
}

.c-4 {
    grid-column: span 4;
}

.c-5 {
    grid-column: span 5;
}

.c-6 {
    grid-column: span 6;
}

.c-7 {
    grid-column: span 7;
}

.c-8 {
    grid-column: span 8;
}

.c-9 {
    grid-column: span 9;
}

.c-10 {
    grid-column: span 10;
}

.c-11 {
    grid-column: span 11;
}

.c-12 {
    grid-column: span 12;
}
    
 
  
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
    .container {
        width: 100%;
      }
    
    .main-content {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px; 
        margin-bottom: 10px;
    }
    
    .c-50 {
        grid-column: span 6;
    }
    .c-25 {
        grid-column: span 3;
    }    
    .c-75 {
        grid-column: span 9;
    }    
    .c-100 {
        grid-column: span 12;
    }
    
}

footer {
    background: #259be0;
    background-image: linear-gradient(120deg, #259be0, #414ee4);
    padding: 4em 0;
    margin: 0;
    grid-column: 1 / -1;
    .r {
        @include media-query($on-palm) {
           padding: 10px; 
        }
        
        .c-6 {
            
            p {
                margin-bottom: 0;
                color: #eee;
            }
            a {
                color: #eee;
            }
        }
    }

}

.container {
    display: grid;
    grid-gap: 20px;
}


.mt-80 {
    margin-top: 80px;
}

.btn {
    padding: 12px 55px;
    background-color: transparent;
    border: 1px solid $brand-color;
    border-radius: 4px;
    color: $brand-color;
    cursor: pointer;
    font-size: 1.1rem;
    &:hover {
        background-color: $brand-color;
        color: #fff;
    }
}



.rel-50 {
    position: relative;
    top: -50px;
    @include media-query($on-palm) {
        
    }
}
