#navigation {
    padding: 10px;


    //Hide dropdowns by default
    & nav ul ul {
        display: none;
        position: absolute;
        padding: 0;
    }

    & nav {
        margin: 0 1em 0;
    }

    & nav ul li:hover > ul {

        display: block;
        margin: 0;
        padding: 0;
    }

  & .sub-menu{
    li{
      display:flex;
    }
}
    
    & li:hover, li a:hover{
      background: $brand-color;
      color: $white;
    }

}

//Homepage
.scrolled {
    background: $brand-secondary;
}

//Single page layout
.scrolled-single {
    position: fixed;
}

#navigation nav ul li {
    display: inline-block;

    &:hover {
        & a {
            background-color: $brand-color;
        }

        .sub-menu {
            background-color: $brand-color;
            padding-top: 1rem;
        }
    }
}

#navigation nav ul li a {
    padding: 10px 25px;
    font-weight: bold;
    color: $white;
}

#navigation nav ul li a:hover {
    //background-color: $brand-color;
    color: $white;
    text-decoration: none;
}

//Single Page layout
.default #navigation {
    background-color: $brand-secondary;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //position: relative;
    //width: 100%;
    z-index:10;
}
//Homepage layout
.page-home #navigation {
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.5s ease;
    transition: background-color 0.5s ease;
    position: fixed;
    width: 100%;
    z-index:10;
}

#navigation #logo {
    padding: 5px;
    display: flex;
}

// #navigation #logo img {
//     height: 65px
// }

#navigation #logo span {
    color: $brand-color;
    font-weight: bold;
    line-height: 45px;
    font-size: 1.9em;
    padding-left: 5px;
}

// #navigation #burger {
//     padding: 20px;
//     cursor: pointer;
//     z-index: 2;
// }

// #navigation #burger .inner {
//     position: relative;
//     margin-top: 8px;
//     margin-bottom: 8px;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }

// #navigation #burger .inner,#navigation #burger .inner::before,#navigation #burger .inner::after {
//     display: block;
//     width: 25px;
//     height: 3px;
//     //background-color: #4EA0DB;
//     outline: 1px solid transparent;
//     -webkit-transition-property: background-color, -webkit-transform;
//     -moz-transition-property: background-color, -moz-transform;
//     -o-transition-property: background-color, -o-transform;
//     transition-property: background-color, transform;
//     -webkit-transition-duration: 0.3s;
//     -moz-transition-duration: 0.3s;
//     -o-transition-duration: 0.3s;
//     transition-duration: 0.3s;
// }

// #navigation #burger .inner::before,#navigation #burger .inner::after {
//     position: absolute;
//     content: ""
// }

// #navigation #burger .inner::before {
//     top: -8px;
// }

// #navigation #burger .inner::after {
//     top: 8px;
// }

// #navigation #burger.active .inner {
//     background-color: transparent;
// }

// #navigation #burger.active .inner::before {
//     -webkit-transform: translateY(8px) rotate(45deg);
//     -moz-transform: translateY(8px) rotate(45deg);
//     -ms-transform: translateY(8px) rotate(45deg);
//     -o-transform: translateY(8px) rotate(45deg);
//     transform: translateY(8px) rotate(45deg);
// }

// #navigation #burger.active .inner::after {
//     -webkit-transform: translateY(-8px) rotate(-45deg);
//     -moz-transform: translateY(-8px) rotate(-45deg);
//     -ms-transform: translateY(-8px) rotate(-45deg);
//     -o-transform: translateY(-8px) rotate(-45deg);
//     transform: translateY(-8px) rotate(-45deg);
// }

// #menu {
//     width: 0;
//     position: fixed;
//     height: 100%;
//     top: 0;
//     right: 0;
//     background-color: white;
//     padding-top: 85px;
//     z-index: 9;
//     transition: 0.5s;
//     overflow: hidden;
// }

// #menu.active {
//     width: 100%;
// }

// #menu ul {
//     padding-top: 80px;
//     margin: auto;
//     list-style: none;
//     padding: 0;
//     overflow-y: auto;
// }

// @media (max-width: 767px) {
//     #menu ul {
//         margin:1em 0
//     }
// }

// @media (max-width: 767px) {
//     #menu ul li {
//         text-align:center;
//         padding: 1em 0
//     }
// }

// #menu ul li a {
//     font-size: 2.5em;
//     font-weight: bold;
//     color: $white;
// }

// @media (max-width: 767px) {
//     #menu ul li a {
//         font-size:2em;
//         padding: 5px
//     }
// }

span.licensed{
    display: block;
    padding: 10px 25px;
    font-family: $secondary-font-family;
    color: $white;
    font-weight: bold;
}
