//buttons
.btn {
    font-family: $secondary-font-family;
    text-decoration: none;
    padding: 12px 55px;
    background-color: $brand-color;
    border: 1px solid transparent;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    font-size: 1.1rem;
    &:hover {
        background-color: $brand-secondary;
        text-decoration: none;
        color: $white;
    }
}
//Utilities
.mt-80 {
    margin-top: 80px;
}

.mx-auto {
    margin: 0 auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.list-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

//Homepage services
ul.list-inline {
    display: inline;
    list-style: none;

    & li {
        display: inline-block;

        & a {
            text-decoration: underline;
        }
    }
    & li:nth-of-type(n+2) ::before {
        content: "|";
        padding: .2em;
    }
}

.call-to-action-white {
    text-align: center;

    & h3 {
        font-weight: 600;
    }

}

.call-to-action-red {

    background-color: $brand-color;
    text-align: center;

    & h3, p {
        font-family: $secondary-font-family;
        color: $white;
    }
}

.services img {
    width: 100%;
}

//Cards
.card {
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
}

.card__body {
    background: rgba(0,0,0, .5);
    color: $white;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;

    &:hover {
        background: rgba(0,0,0, .7);
        transition: all .7s ease-in-out;
    }

    & h3 {
        padding: .5rem .5rem;
        margin-top: auto;
        font-size: 1.888888rem;
    }

    & p {
        font-size: $base-font-size;
    }
}

// .link {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 3;
// }

.card__title,
.card__text {
    margin: 0;
    color: $white;
    text-align: center;
}

.card__title {
    // font-size: 3rem;
    line-height: 1;
}

.service-area {
    background-color: $brand-secondary;
    padding: 2em;
    & h3, p, li {
        color: $white;
        margin-bottom: 0;
    }

    & ul {
        list-style: none;

        & li {
            font-family: $secondary-font-family;
        }
    }
    
}

.page-ul-two-column h1 {
    margin-top: 3rem;
}

//Two columns for ul
.page-ul-two-column ul {
    columns: 2;
    & li {
        font-family: $secondary-font-family;
        padding: .5rem;
    }
}