$base-font-family: 'Playfair Display', serif;
$secondary-font-family: 'Lato', sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$head-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;

$text-color:       #616161;
$brand-color:      #E33F3F;
$brand-secondary:  #15728F;
$white:            #ffffff;

$grey-color:       #616161;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);



@import "imports/reset",
        "imports/flexnav",
        "imports/hero",
        "imports/styles",
        "imports/contact",
        "imports/footer",
        "imports/flex-grid",
        "imports/text",
        "imports/google-font";