---
import Button from '~/components/ui/Button.astro';
import { Icon } from 'astro-icon/components';
const url = 'google.com';
---

<div
  class="dark text-white bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 w-full">
  <div class="w-full max-w-7xl flex gap-1 items-center overflow-hidden px-3 py-2 relative whitespace-nowrap">
    <span class="text-2xl items-center md:hidden inline-block">Call Us Today!</span>
    <Button class:list={'ltr:ml-auto ml-auto rtl:mr-auto'} variant='secondary' title="Call Today" data-aw-url={url}>
      <span class="hidden md:flex">
        <Icon name="tabler:phone-outgoing" class="mr-3 w-5 h-5 inline-block" />
        503-432-1221
      </span>
      <Icon name="tabler:phone-outgoing" class="w-8 h-8 md:hidden inline-block" />
    </Button>
  </div>
</div>
