@use '../abstracts/' as *;

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1.25rem;
	
	@include mq(medium) {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
	
	@include mq(large) {
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	}
	
	@include mq(xlarge) {
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	}
	
	@include mq(xxlarge) {
		grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	}
	
	@include mq(xxxlarge) {
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	}
}

.card {
	display: flex;
	padding: 2rem 1.25rem;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border-style: solid;
	border-width: 1px;
	border-color: var(--clr-primary-100);
	background-color: var(--clr-neutral-50);
	box-shadow: 0 2px 7px 0 rgba(20, 20, 43, 0.06);
    -webkit-transition: color 300ms ease, -webkit-transform 300ms ease;
    transition: color 300ms ease, -webkit-transform 300ms ease;
    transition: transform 300ms ease, color 300ms ease;
    transition: transform 300ms ease, color 300ms ease, -webkit-transform 300ms ease;
    text-decoration: none;
    -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	&-link {
		text-decoration: none;
		font-weight: 600;
		&::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			pointer-events: auto;
			content: "";
			background-color: rgba(0,0,0,0);
		}
	}
}