* {
  font-variation-settings:
    'wght' var(--font-weight, 375),
    'wdth' var(--font-width, 80);
}
 
body {
  font-size: var(--fs-400);
  font-family: 'Roboto', serif;
  color: var(--clr-neutral-400);
}
 

h1, h2, h3, h4 { 
  --font-weight: 700;
  --font-width: 80;
  font-weight: normal;
  font-stretch: 100%;
  line-height: 1.1;
  color: var(--clr-neutral-500);
  margin-bottom: .75em;
}

time + p {
  font-size: 1.25em;
  margin: 2em 0 1em !important;
}

// This is setting the font-sizes
// based on the ones in the abstract
// folder, go there to make updates

h1,
.h1 {
  font-size: var(--fs-600);
}

h2,
.h2 {
  --flow-spacer: 1.5em;
  font-size: var(--fs-500);
}
h3,
.h3 {
  --flow-spacer: 1.5em;
  font-size: var(--fs-500);
}

h4,
.h4 {
  font-size: var(--fs-400);
}

p {
  margin-bottom: 1.5em;
}

small,
.text-small {
  font-size: var(--fs-300);
}

strong {
  --font-weight: 500;
  font-weight: normal;
  color: var(--clr-neutral-500);
  }

a {
  color: var(--clr, var(--clr-primary-500));
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--clr-primary-500);
    text-decoration: underline; 
  }
}

ul {

  li {
    padding: 0;
  }
}