<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="google-site-verification" content="Af6TWpN8sjIQQT-Aol2y0GXfsi0hid4rikbu2FgjSs0" />
    <!-- noindex meta -->
    {{ $default_noindex_kinds := slice "section" "taxonomy" "taxonomyTerm" }}
    {{ $noindex_kinds := .Site.Params.noindex_kinds | default $default_noindex_kinds }}
    {{ $is_noindex_true := and (isset .Params "noindex") .Params.noindex }}
    {{ if or (in $noindex_kinds .Kind) ($is_noindex_true) }}
    <meta name="robots" content="noindex">
    {{ end }}
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <meta property="og:description" content="{{ .Description }}">
    <link rel="canonical" href="{{ .URL | relURL }}">
    <!-- CSS -->
    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "scss/main.scss" | toCSS $options | resources.PostCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": ["LocalBusiness","Service", "HVACBusiness"],
        "name": "Elevate Heating & Cooling, LLC",
        "telephone": "541-670-9618",
        "openingHours": "Mo-Fri 08:00-17:00",
        "logo": "https://elevateheatingllc.com/images/elevate-logo.png",
        "image": "https://elevateheatingllc.com/images/elevate-logo.png",
        "url": "https://elevateheatingllc.com/",
        "priceRange" : "$$$",
        "areaServed": ["North Plains, OR", "Beaverton, OR", "Hillsboro, OR", "Tualatin, OR", "Cornelius, OR", "Forest Grove, OR", "Tigard, OR", "Banks, OR"],
        "address" : {
          "@type" : "PostalAddress",
          "streetAddress" : "",
          "addressLocality" : "North Plains",
          "addressRegion" : "OR",
          "postalCode" : "97133"
        },
        "description": "We provide a range of services from furance repair and maintenance to installing new furnaces, air conditioning units and mini-split systems. You can also count on us for regular maintenance and tune-up services on all brands of HVAC systems.",
        "sameAs": ["https://www.facebook.com/ElevateHeating/",
        "https://www.instagram.com/elevateheatingandcooling/"]
    }
    </script>
{{- $url := replace .Permalink ( printf "%s" ( "/" | absLangURL ) ) "" -}}
{{- $url := replace .Permalink ( printf "%s" ( "/" | absLangURL ) ) "" -}}

{{- $.Scratch.Add "path" ( "/" | absLangURL ) -}}
{{- $.Scratch.Add "breadcrumb" (slice (dict "url" ( "/" | absLangURL ) "name" "home" "position" 1 )) -}}
{{- range $index, $element := split $url "/" -}}
{{- $.Scratch.Add "path" $element -}}
{{- $.Scratch.Add "path" "/" -}}
{{- if ne $element "" -}} {{- $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) -}}
{{- end -}}
{{- end -}} 
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
      {{ range $.Scratch.Get "breadcrumb" }}
        {{ if ne .position 1 }},
      {{ end }}
      {
            "@type": "ListItem",
            "position": {{ .position }},
            "item": {
              "@id": "{{ .url }}",
              "name": "{{ .name }}"
            }
        }{{ end }}]
    }
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T2B5FL8');</script>
    <!-- End Google Tag Manager -->
</head>
<div id="nav-background">
    <div id="nav-container">
        <header id="nav-header">
            <a href="{{ .Site.BaseURL }}">
                <img id="nav-logo" width="250" src="{{ .Site.BaseURL }}images/elevate-logo.png" alt="{{ .Site.Title }}">
            </a>
            <div id="nav-menu-button">MENU</div>
        </header>
        {{ partial "nav.html" . }}
    </div>
</div>

<body class='page {{ block "body_classes" . }}{{ end }}'>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2B5FL8" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
        {{ block "main" . }}
        {{ end }}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{{ block "nav_js" . }}
{{ end }}
{{ partial "footer" . }}
<script type="text/javascript">
    (function () {

            var navButton = document.querySelector("#nav-menu-button");
            var navUl = document.querySelector(".nav-ul");

            function toggleMobileMenu() {
                navUl.classList.toggle("hide-ul");
            }

            navButton.onclick = toggleMobileMenu;
        }());
</script>
</body>
</html>