<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <meta property="og:description" content="{{ .Description }}">
    <link rel="canonical" href="{{ .URL | relURL }}">
    <!-- CSS -->
    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "scss/main.scss" | toCSS $options | resources.PostCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<header class="header" id="navigation">
    <div id="logo">
        <a href="{{ .Site.BaseURL }}">
            <img width="300" src="{{ .Site.BaseURL }}images/elevate-logo.png" alt="{{ .Site.Title }}">
        </a>
    </div>
    {{ partial "nav.html" . }}
</header>
<body class='page {{ block "body_classes" . }}{{ end }}'>
    
        {{ block "main" . }}
        {{ end }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
{{ block "nav_js" . }}
{{ end }}
{{ partial "footer" . }}

</body>
</html>