
{{ define "body_classes" }}default{{ end }}
{{ define "main" }}
<div class="grid grid--container">
    <div class="row">
        <div class="col col--sm-12">
            <div class="img__fixed__container" style="background-image:url({{.Params.image}});">
                <div class="center">
                    <h3>{{ .Params.herotext }}</h3>
                    <a href="/contact-us" class="btn btn-red">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid grid--container">
    <div class="row">
        <div class="col col--sm-12">
            {{ .Content }}
            <a href="/contact-us" class="btn btn-red">Contact Us</a>
        </div>
    </div>
</div>
{{ end }}