{{ define "schema" }}
{{ end }}
{{ define "main" }}
    {{ $scheduleurl := .Site.Data.contact.scheduleurl }}
    {{ $scheduleblurb := .Site.Data.contact.scheduleblurb }}
    {{ if .Params.image }}
        {{ partial "hero" (dict "imageUrl" .Params.image "title" .Params.pagetitle "heroBody" .Params.heroBody "scheduleurl" $.Site.Data.contact.scheduleurl "scheduleblurb" $.Site.Data.contact.scheduleblurb) }}
    {{ else }}
    {{ end }}
    <section>   
        <div class="container-sm">
            {{ .Content  | safeHTML }}
            <a class="btn" data-type="accent" href="tel:{{ .Site.Data.contact.phone }}">{{.Site.Data.contact.phone}}</a>
        </div>
    </section>
{{ end }}