{{ define "schema" }}
{{ end }}
{{ define "main" }}
    {{ $scheduleurl := .Site.Data.contact.scheduleurl }}
    {{ $scheduleblurb := .Site.Data.contact.scheduleblurb }}
    {{ if .Params.image }}
        {{ partial "heroAlt" (dict "imageUrl" .Params.image "title" .Params.pagetitle "heroBody" .Params.heroBody "ctaURL" .Params.ctaURL "ctablurb" .Params.ctablurb) }}
    {{ else }}
    {{ end }}
    <section>   
        <div class="container-sm">
            {{ .Content  | safeHTML }}
        </div>
    </section>
{{ end }}