
{{ define "body_classes" }}default{{ end }}
{{ define "two_columns" }}page-ul-two-column{{ end }}
{{ define "main" }}
<div class="grid grid--container">
    <div class="row row--lg-center">
        <div class="col col--sm {{ block "two_columns" . }}{{ end }}">
            {{ .Content }}
        </div>
        <div class="col col--sm-12">
            <p>{{ .Site.Data.FurnaceRepairMaintenance.Checklist.Description}}</p>
            <ul class="two-column">
                {{ range $.Site.Data.FurnaceRepairMaintenance.Checklist.Items }}
                <li>
                    {{ . }}
                </li>
                {{ end }}
            </ul>
            <p>{{ .Site.Data.FurnaceRepairMaintenance.Checklist.SubDescription}}</p>
        </div>
        <div class="col col--md-6 col-sm--12">
            <h3>{{ .Site.Data.FurnaceRepairMaintenance.Maintenance.Title}}</h3>
            <p>{{ .Site.Data.FurnaceRepairMaintenance.Maintenance.Description}}</p>
            <ul>
                {{ range $.Site.Data.FurnaceRepairMaintenance.Maintenance.Items }}
                <li>
                    {{ . }}
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="col col--md-6 col-sm--12">
            <img class="img-responsive" src="/images/{{ .Site.Data.FurnaceRepairMaintenance.Maintenance.image}}" alt="{{ .Site.Data.FurnaceRepairMaintenance.Maintenance.Title}}">
        </div>
        <div class="col col--sm-12">
            <p>{{ .Site.Data.FurnaceRepairMaintenance.Maintenance.SubDescription}}</p>
            <a href="/contact-us" class="btn btn-red">Contact Us</a>
        </div>
    </div>
</div>
{{ end }}