$colors: (
	neutral: (
		50: #f4f4f4, 
		100: #eaeaea, 
		200: #cacaca, 
		300: #aaaaaa, 
		400: #6b6b6b, 
		500: #2b2b2b, 
		600: #272727, 
		700: #202020, 
		800: #1a1a1a, 
		900: #151515
	),
	primary: (
        50: #f2faff, 
        100: #e6f5ff, 
        200: #bfe6ff, 
        300: #99d6ff, 
        400: #4db8ff, 
        500: #0099ff, 
        600: #008ae6, 
        700: #0073bf, 
        800: #005c99, 
        900: #004b7d
	),
	secondary: (
        50: #fef2f2, 
        100: #fce6e6, 
        200: #f8c0c0, 
        300: #f39a9a, 
        400: #eb4e4e, 
        500: #e20202, 
        600: #cb0202, 
        700: #aa0202, 
        800: #880101, 
        900: #6f0101
	)
);
