---
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import LongContent from '~/components/widgets/LongContent.astro';
import HeroMiddle from '~/components/widgets/HeroMiddle.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
// import Contact from '~/components/sections/Contact.astro'
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Air Conditioning Service in Hillsboro, OR and Near You',
	description: 'We offer air conditioning services, including installations, repair, and maintenance in Hillsboro, OR areas. Call us today to schedule.',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline=""
    title="Air Conditioning Service in Hillsboro, OR"
    actions={[
      { variant: 'primary', text: 'Get a FREE Estimate', href: '/get-a-free-estimate/', icon: 'tabler:square-rounded-arrow-right' },
    ]}
    image={{
      src: '~/assets/images/air-conditioner.jpg',
      alt: 'Air conditioning installation and replacement in Hillsboro, OR',
    }}
  >
  <Fragment slot="subtitle">
		When you're suddenly faced with air conditioning problems on a hot day, you need a reliable HVAC contractor to help you get your system back up and running. At Elevate Heating & Cooling, we offer a full range of air conditioning services to keep your home cool and comfortable all summer long.
	</Fragment>
  </Hero2>

  <!-- Content Widget ******************* -->

  <Content
    tagline=""
    title=""
    callToAction={{
      text: 'Get YOUR FREE Estimate',
      href: '/get-a-free-estimate/',
      icon: 'tabler:square-rounded-arrow-right',
    }}
    image={{
      src: '~/assets/images/ac-repair-hero.jpg',
      alt: 'Expert AC repair services in Hillsboro, OR',
    }}
    isReversed
  >
  <Fragment slot="content">
    <h2 class="mb-5 font-bold leading-tighter tracking-tighter font-heading text-3xl md:text-3xl">Air Conditioning Installation & Replacement</h2>
  </Fragment>
  <Fragment slot="content">
    <p class="mb-4 text-base">We offer air conditioning installation and replacement services in Hillsboro, OR and surrounding cities. Elevate Heating & Cooling replaces and installs all major brands and different types of cooling systems which include:</p>
		<ul class="list-disc text-base mb-4">
			<li class="ml-8"><a class="text-blue-600 underline dark:text-muted" href="/heat-pumps/">Heat Pumps</a></li>
			<li class="ml-8"><a class="text-blue-600 underline dark:text-muted" href="/ductless-mini-split-installations/">Ductless Mini-Split Systems</a></li>
		</ul>
  </Fragment>

	<Fragment slot="content">
		<h3 class="mb-5 font-bold leading-tighter tracking-tighter font-heading text-3xl md:text-3xl">Air Conditioner Maintenance & Repair</h3>
		<p class="mb-4 text-base">Even the best air conditioning systems need repairs from time to time. If your Hillsboro air conditioner isn’t working properly, call us right away. We’ll diagnose the problem and make the necessary repairs to get your system back up and running.</p>
		<p class="mb-4 text-base">Take care of your air conditioning on a regular basis, and it will take care of you during the hot summer months. Regular <a class="text-blue-600 underline dark:text-muted" href="/ac-repair-and-maintenance/">air conditioning maintenance</a> is the best way to keep your air conditioner running smoothly. We’ll inspect your system and make sure it’s working properly. By properly maintaining your air conditioning system, you can avoid costly repairs and extend the life of your system.</p>
  </Fragment>
</Content>

  <!-- LongContent Widget ************** -->

  <LongContent 
    tagline="" 
    title="Not Sure If You Need your AC Replaced?" 
    >
    <Fragment slot="content">
      <p class="mb-2 text-base">We can help! We can inspect your current hvac system and then explain to you what your best options are. Here are couple of signs that your home might need an <a class="text-blue-600 underline dark:text-muted" href="/ac-installation/">AC replacement</a>:</p>
      <ul class="list-disc">
        <li class="ml-8">Have you had to call for <a class="text-blue-600 underline dark:text-muted" href="/ac-repair-and-maintenance/">ac repairs</a> more than a couple of times within the last couple of years?</li>
        <li class="ml-8">Most home air conditioners will have a lifespan of about 10 - 15 years. If your system is at least 10 years old, it might be a good idea to replace it. The older your AC system, the more problems that can arise.</li>
        <li class="ml-8">Inconsistent temperatures in your home</li>
      </ul>
    </Fragment>
  </LongContent>


  <!-- HeroMiddle Widget ************** -->

	<HeroMiddle
    tagline="Financing Options"
    title="We Offer Financing"
    subtitle="Apply for financing today and get the HVAC services you need now. We know your HVAC is an investment. That’s why we’re proud to offer financing so you can get affordable service and we can get you the service you need."
    image={{
      src: '~/assets/images/electric-fan-coil-tune-up.jpg',
      alt: 'Expert HVAC services in Hillsbor, OR',
    }}
    callToAction1={{
      text: 'Apply For Financing',
      href: '/hvac-financing',
    }}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Customer Testimonials"
    subtitle='Read testimonials from our satisfied clients'
    testimonials={[
      {
        testimonial: `Gary did a fantastic job. He promptly returned my initial phone call and had reasonable pricing (I called some other well known arborists but they were too busy to even return my calls- and others were booked months out). When I asked Gary questions about my mature pear and camellia trees, he had very knowledgable advice about their growth behavior, which I appreciated. Lastly, he showed up on time and got the job done very efficiently. Cleaned up all the mess before he left too! Will be calling for all my future tree trimming and pruning needs.`,
        name: 'Emily L.',
      },
      {
        testimonial: `Very friendly and knowledgable! Punctual and got the job done right. I appreciated the safety measures they took and their work ethic. I'll definitely be using them again when I need more tree work done!`,
        name: 'Marcos F.',
      },
      {
        testimonial: `Every time I've called for service they're here in just a few days. They are hard working, thorough, honest and friendly! We highly recommend using Malkuch Tree Service!`,
        name: 'S C.',
      },
    ]}
    callToAction={{
      target: '',
      text: 'See all our reviews on Google',
      href: 'https://www.google.com/maps?cid=6706676142287378513',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- <Contact 
  title="Contact us" 
  subtitle='Have a question or need an estimate?' 
/> -->
</Layout>
