---
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import LongContent from '~/components/widgets/LongContent.astro';
import HeroMiddle from '~/components/widgets/HeroMiddle.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
// import Contact from '~/components/sections/Contact.astro'
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Heating & HVAC Services in Hillsboro, OR | We Finance',
	description: 'We are your trusted Hillsboro heating service for furnaces and heat pumps, repair & more. Call Us Today To Schedule.',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline=""
    title="Heating & Furnace Services in Hillsboro, OR"
    actions={[
      { variant: 'primary', text: 'Get a FREE Estimate', href: '/get-a-free-estimate/', icon: 'tabler:square-rounded-arrow-right' },
    ]}
    image={{
      src: '~/assets/images/electric-fan-coil-tune-up.jpg',
      alt: 'Electric fan coil tune up in Hillsboro, OR',
    }}
  >
  <Fragment slot="subtitle">
    At Elevate Heating & Cooling, we offer a full range of heating services in the Hillsboro, OR area. From furnace and heat pump installation to repair, replacement, and maintenance. Our expert HVAC contractors work with all makes and models of furnaces, heat pumps, and ductless heating systems.
  </Fragment>
  </Hero2>

  <!-- Content Widget ******************* -->

  <Content
    tagline=""
    title=""
    callToAction={{
      text: 'Get YOUR FREE Estimate',
      href: '/get-a-free-estimate/',
      icon: 'tabler:square-rounded-arrow-right',
    }}
    image={{
      src: '~/assets/images/electric-fan-coil-tune-up-hero.jpg',
      alt: 'Expert HVAC services in Hillsboro, OR',
    }}
    isReversed
  >
  <Fragment slot="content">
    <h2 class="mb-5 font-bold leading-tighter tracking-tighter font-heading text-3xl md:text-3xl">New Heating Replacement & Installation Services</h2>
  </Fragment>
  <Fragment slot="content">
    <p class="mb-4 text-base">Call now to schedule your heat pump installation or replace your gas furnace before winter arrives: 503-432-1221.</p>
  </Fragment>

	<Fragment slot="content">
		<h3 class="mb-5 font-bold leading-tighter tracking-tighter font-heading text-3xl md:text-3xl">Heating System Maintenance & Repair</h3>
		<p class="mb-4 text-base">Regular heating maintenance is the best way to keep your furnace or heat pump running smoothly. We’ll inspect your system and make sure it’s working properly. By properly maintaining your heating system, you can avoid costly repairs and extend the life of your system.</p>
		<p class="mb-4 text-base">Even the best heating systems need repairs from time to time. If your furnace or heat pump isn’t working properly, call us right away. We’ll diagnose the problem and make the necessary repairs to get your system back up and running.</p>
  </Fragment>
</Content>

	<!-- LongContent Widget ************** -->

  <LongContent 
    tagline="" 
    title="Not Sure If You Need your Heating System Replaced?" 
    >
    <Fragment slot="content">
      <p class="mb-2 text-base">We can help! We can inspect your current hvac system and then explain to you what your best options are. Here are couple of signs that your home might need an heat pump or gas furnace replacement:</p>
      <ul class="list-disc">
        <li class="ml-8">Cold air or no air is coming out from your vents</li>
        <li class="ml-8">Your system constantly runs</li>
        <li class="ml-8">Your energy bills are on the rise from month to month</li>
      </ul>
    </Fragment>
  </LongContent>


  <!-- HeroMiddle Widget ************** -->

	<HeroMiddle
    tagline="Financing Options"
    title="We Offer Financing"
    subtitle="Apply for financing today and get the HVAC services you need now. We know your HVAC is an investment. That’s why we’re proud to offer financing so you can get affordable service and we can get you the service you need."
    image={{
      src: '~/assets/images/electric-fan-coil-tune-up.jpg',
      alt: 'Expert HVAC services in Hillsbor, OR',
    }}
    callToAction1={{
      text: 'Apply For Financing',
      href: '/hvac-financing',
    }}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Customer Testimonials"
    subtitle='Read testimonials from our satisfied clients'
    testimonials={[
      {
        testimonial: `Gary did a fantastic job. He promptly returned my initial phone call and had reasonable pricing (I called some other well known arborists but they were too busy to even return my calls- and others were booked months out). When I asked Gary questions about my mature pear and camellia trees, he had very knowledgable advice about their growth behavior, which I appreciated. Lastly, he showed up on time and got the job done very efficiently. Cleaned up all the mess before he left too! Will be calling for all my future tree trimming and pruning needs.`,
        name: 'Emily L.',
      },
      {
        testimonial: `Very friendly and knowledgable! Punctual and got the job done right. I appreciated the safety measures they took and their work ethic. I'll definitely be using them again when I need more tree work done!`,
        name: 'Marcos F.',
      },
      {
        testimonial: `Every time I've called for service they're here in just a few days. They are hard working, thorough, honest and friendly! We highly recommend using Malkuch Tree Service!`,
        name: 'S C.',
      },
    ]}
    callToAction={{
      target: '',
      text: 'See all our reviews on Google',
      href: 'https://www.google.com/maps?cid=6706676142287378513',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- <Contact 
  title="Contact us" 
  subtitle='Have a question or need an estimate?' 
/> -->
</Layout>
