---
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import LongContent from '~/components/widgets/LongContent.astro';
import HeroMiddle from '~/components/widgets/HeroMiddle.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
// import Contact from '~/components/sections/Contact.astro'
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Heating repair in Hillsboro, OR and near you | We Finance',
	description: 'Elevate Heating & Cooling offers heating repair services and maintenance in Hillsboro, OR. Call us today to schedule.',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline=""
    title="Heating Repair Near You in Hillsboro, OR"
    actions={[
      { variant: 'primary', text: 'Get a FREE Estimate', href: '/get-a-free-estimate/', icon: 'tabler:square-rounded-arrow-right' },
    ]}
    image={{
      src: '~/assets/images/electric-fan-coil-tune-up.jpg',
      alt: 'Home heating repair in Hillsboro, OR',
    }}
  >
  <Fragment slot="subtitle">
		When the cold weather hits, you want to make sure your heating system is working properly. Elevate Heating & Cooling offers reliable home central air heating repairs for gas furnace heaters and heat pumps. When you need fast, reliable heating services, choose your trusted local HVAC contractor at Elevate Heating & Cooling.
  </Fragment>
  </Hero2>

  <!-- Content Widget ******************* -->

  <Content
    tagline=""
    title=""
    callToAction={{
      text: 'Get YOUR FREE Estimate',
      href: '/get-a-free-estimate/',
      icon: 'tabler:square-rounded-arrow-right',
    }}
    image={{
      src: '~/assets/images/electric-fan-coil-tune-up.jpg',
      alt: 'Expert heating repair services in Hillsboro, OR',
    }}
    isReversed
  >
  <Fragment slot="content">
    <h2 class="mb-5 font-bold leading-tighter tracking-tighter font-heading text-3xl md:text-4xl">Heat Pump & Furnace Repair Services</h2>
  </Fragment>
  <Fragment slot="content">
    <p class="mb-4 text-base">At Elevate Heating & Cooling, we service a wide range of heating systems, including gas furnaces and heat pumps from many leading brands. Our skilled technicians have the expertise to quickly diagnose issues, enabling prompt and efficient repairs.</p>
  </Fragment>
</Content>

  <!-- LongContent Widget ************** -->

  <LongContent 
    tagline="" 
    title="Are You Needing Your Heating System Repaired?" 
    >
    <Fragment slot="content">
      <p class="mb-2 text-base">Majority of homeowners do not know the ins and outs of repairing their heating system. Here are a few of the most common signs you may need heating repairs:</p>
      <ul class="list-disc">
        <li class="ml-8">The furnace or heat pump is making strange noises. If your system is making loud noises, it may be time for a repair or replacement. Unbalanced blower wheels can cause loud noises.</li>
        <li class="ml-8">High energy bills. If your energy bills are higher than usual, it may be time for a repair or replacement. A broken heating system can cause your energy bills to skyrocket.</li>
        <li class="ml-8">Inaccurate thermostat. Don't jump the gun by scheduling a repair without inspecting further. Your thermostat may have malfunctioned due to a blown fuse or faulty wiring.</li>
      </ul>
    </Fragment>
  </LongContent>


  <!-- HeroMiddle Widget ************** -->

	<HeroMiddle
    tagline="Financing Options"
    title="We Offer Financing"
    subtitle="Apply for financing today and get the HVAC services you need now. We know your HVAC is an investment. That’s why we’re proud to offer financing so you can get affordable service and we can get you the service you need."
    image={{
      src: '~/assets/images/electric-fan-coil-tune-up.jpg',
      alt: 'Expert HVAC services in Hillsbor, OR',
    }}
    callToAction1={{
      text: 'Apply For Financing',
      href: '/hvac-financing',
    }}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Customer Testimonials"
    subtitle='Read testimonials from our satisfied clients'
    testimonials={[
      {
        testimonial: `Gary did a fantastic job. He promptly returned my initial phone call and had reasonable pricing (I called some other well known arborists but they were too busy to even return my calls- and others were booked months out). When I asked Gary questions about my mature pear and camellia trees, he had very knowledgable advice about their growth behavior, which I appreciated. Lastly, he showed up on time and got the job done very efficiently. Cleaned up all the mess before he left too! Will be calling for all my future tree trimming and pruning needs.`,
        name: 'Emily L.',
      },
      {
        testimonial: `Very friendly and knowledgable! Punctual and got the job done right. I appreciated the safety measures they took and their work ethic. I'll definitely be using them again when I need more tree work done!`,
        name: 'Marcos F.',
      },
      {
        testimonial: `Every time I've called for service they're here in just a few days. They are hard working, thorough, honest and friendly! We highly recommend using Malkuch Tree Service!`,
        name: 'S C.',
      },
    ]}
    callToAction={{
      target: '',
      text: 'See all our reviews on Google',
      href: 'https://www.google.com/maps?cid=6706676142287378513',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- <Contact 
  title="Contact us" 
  subtitle='Have a question or need an estimate?' 
/> -->
</Layout>
