---
import Layout from '~/layouts/PageLayout.astro';

// import BigHero from '~/components/widgets/BigHero.astro';
import ContactHero from '~/components/widgets/ContactHero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Brands from '~/components/widgets/Brands.astro';
import Services from '~/components/widgets/Services.astro';
import HeroMiddle from '~/components/widgets/HeroMiddle.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Top Rated Beaverton/Hillsboro HVAC Service',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <ContactHero
    video={{ src: '~/assets/videos/vans.mp4' }}
    id="form"
    title="Beaverton & Hillsboro's Trusted Air Conditioning & Heating Company"
    subtitle="Any HVAC issues that may arise with your home can be resolved by us."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
      rows: 1,
    }}
    button="Submit"
  />
  <!-- <BigHero
    actions={[
      {
        variant: 'primary',
        text: 'Schedule Service',
        href: 'https://book.elevateheating.com/web-schedule-a-service-form',
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
      // { text: 'Request A Quote', href: 'https://book.elevateheating.com/web-request-a-quote-form' },
    ]}
    image={{ src: '~/assets/images/van-hero.jpg', alt: 'Elevate Heating & Cooling Van' }}
  >
    <Fragment slot="title">
      Beaverton & Hillsboro's Trusted Air Conditioning & Heating Company
    </Fragment>

    <Fragment slot="subtitle">
      Any HVAC issues that may arise with your home can be resolved by us.
    </Fragment>
  </BigHero> -->

  <Brands
    id="brands"
    title="Trusted & Certified"
    subtitle=""
    icons={[]}
    images={[
      {
        src: '~/assets/images/yelp-badge.png',
        alt: 'yelp reviews',
      },
      {
        src: '~/assets/images/google-review-links-badge.png',
        alt: 'google reviews',
      },
      {
        src: '~/assets/images/homeadvisor.webp',
        alt: 'home advisor',
      },
    ]}
  />

  <Content
    title=""
    subtitle=""
    isReversed
    items={[
      // {
      //   title: 'Description:',
      //   description:
      //     'Are you a startup with big dreams? AstroWind propels your success. Our template forges a seamless online presence, attracting investors and customers from day one. Astro 4.0 and Tailwind CSS ensure striking, responsive sites, leaving lasting impressions. Countless startups leverage AstroWind to kickstart their journey and resonate with audiences.',
      // },
      // {
      //   title: 'Benefits:',
      //   description: `Allow startups to quickly create professional websites without investing extensive time and resources. <br /> Make a memorable first impression with visually appealing design elements that highlight your startup's unique value proposition. <br /> Ensures your website looks stunning and works well on all devices. <br /> Engage potential investors and customers with engaging content, clear messaging, and intuitive navigation.`,
      // },
    ]}
    image={{
      src: '~/assets/images/elevate-fam-lg.jpg',
      alt: 'About Elevate Heating & Cooling Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        About Elevate Heating & Cooling, Inc
      </h3>
    </Fragment>
    <Fragment slot="content">
      <p class="mb-4">
        If you're looking for a top-rated HVAC company you can trust in the Hillsboro, OR area, look no further than Elevate Heating & Cooling. We provide comprehensive and high-quality HVAC service.
      </p>
    </Fragment>
    <Fragment slot="content">
      <p>
        We're a family owned and operated company. You'll experience the same respect we extend to all of our neighbors and friends. We enjoy saving our clients time, money, energy and resources. You can expect us to always be honest and upfront. We're a licensed and insured HVAC contractor with years of experience. Our owner oversees every job and does not cut corners.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Services
    id="services"
    tagline=""
    title="Our Services"
    subtitle="Elevate Heating & Cooling knows that finding the best HVAC contractor in Hillsboro, OR can be a struggle, as you strive to balance, expert advice, practical solutions, and superior service. We reconize the importance of providing high-quality workmanship while delivering our services."
    services={[
      {
        tagline: '',
        title: 'Air Conditioning',
        service: 'We provide installation, service, repair, maintenance, and tune-ups for all types of air conditioners.',
        // image: {
        //   src: '~/assets/images/ac-repair-maintenance.jpg',
        //   alt: 'Roof Replacement Image',
        // },
        serviceLink: '/roof-replacement',
      },
      {
        tagline: '',
        title: 'AC Installation',
        service: 'We offer the best quality, energy-efficient equipment available for your Air Conditioning replacement.',
        // image: {
        //   src: '~/assets/images/ac-repair-maintenance.jpg',
        //   alt: 'Roof Repair Image',
        // },
        serviceLink: '/roof-repair',
      },
      {
        tagline: '',
        title: 'Air Conditioning Repair',
        service: 'Help your equipment run at or near factory specs, depending on the age and condition of your ac system.',
        // image: {
        //   src: '~/assets/images/ac-repair-maintenance.jpg',
        //   alt: 'Metal Roofing Image',
        // },
        serviceLink: '/metal-roofing',
      },
      {
        tagline: '',
        title: 'Ductless Systems',
        service: 'Install an energy-efficient HVAC unit in your home.',
        // image: {
        //   src: '~/assets/images/air-conditioner.jpg',
        //   alt: 'Commercial Roofing Image',
        // },
        serviceLink: '/commercial-roofing',
      },
      {
        tagline: '',
        title: 'Heating Repair',
        service: "Our experienced HVAC technicians provide repairs for all types of furnaces and heat pumps.",
        // image: {
        //   src: '~/assets/images/heater-repair-maintenance.jpg',
        //   alt: 'Residential Roofing Image',
        // },
        serviceLink: '/residential-roofing',
      },
      {
        tagline: '',
        title: 'Heater Installation',
        service: "Our Professional HVAC technicians can help install your new energy-efficient heating system.",
        // image: {
        //   src: '~/assets/images/heater-installation.jpg',
        //   alt: 'Residential Roofing Image',
        // },
        serviceLink: '/residential-roofing',
      },
    ]}
  />

  <Testimonials
    id="testimonials"
    title="What Our Customers Say"
    subtitle="We take pride in our work and our customers' satisfaction."
    testimonials={[
      {
        title: 'Great Service!',
        testimonial: 'the service was easy to schedule, on time and efficient. I received a thorough explanation of the service provided, the particular details of the condition of my furnace and my questions were answered During the process. I also received ideas for better efficiency. I will be scheduling a tune up for my central air whe the weather permits.',
        name: 'John Doe',
        job: 'Homeowner',
        image: {
          src: '~/assets/images/testimonial-1.jpg',
          alt: 'Colleen P',
        },
      },
      {
        title: 'Highly Recommend!',
        testimonial: 'Very professional and quick to respond to my call. He was able to help me figure out what I needed to do for my furnace and what I needed to do setup wise for future AC that would require minimal work later.',
        name: 'Jane Doe',
        job: 'Homeowner',
        image: {
          src: '~/assets/images/testimonial-2.jpg',
          alt: 'Nolan K',
        },
      },
      {
        title: 'Great Service!',
        testimonial: 'We are happy to have found Elevate Heating & Cooling to inspect our home heating system and provide certification for the sale of our home. Chase was wonderful to work with; professional, knowledgeable, thorough and friendly. We highly recommend Chase and Elevate!',
        name: 'John Doe',
        job: 'Homeowner',
        image: {
          src: '~/assets/images/testimonial-1.jpg',
          alt: 'Eleanor G',
        },
      },
    ]}
  />

  <HeroMiddle
    tagline="Financing Options"
    title="We Offer Financing"
    subtitle="Apply for financing today and get the HVAC services you need now. We know your HVAC is an investment. That’s why we’re proud to offer financing so you can get affordable service and we can get you the service you need."
    image={{
      src: '~/assets/images/keep-your-hvac-unit-in-great-condition.jpg',
      alt: 'Financing options',
    }}
    callToAction1={{
      text: 'Apply For Financing',
      href: '/hvac-financing',
    }}
  />
</Layout>
