---
import Layout from '~/layouts/PageLayout.astro';

import BigHero from '~/components/widgets/BigHero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Brands from '~/components/widgets/Brands.astro';
import Services from '~/components/widgets/Services.astro';
import HeroMiddle from '~/components/widgets/HeroMiddle.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'HVAC Contractor Serving Hillsboro, OR | Elevate Heating & Cooling',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <BigHero
    actions={[
      {
        variant: 'primary',
        text: 'Schedule Service',
        href: 'https://book.elevateheating.com/web-schedule-a-service-form',
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
      // { text: 'Request A Quote', href: 'https://book.elevateheating.com/web-request-a-quote-form' },
    ]}
    image={{ src: '~/assets/images/van-hero.jpg', alt: 'Elevate Heating & Cooling Van' }}
  >
    <Fragment slot="title">
      Beaverton & Hillsboro's Trusted Heating & Air Conditioning Contractor
    </Fragment>

    <Fragment slot="subtitle">
      Any HVAC issues that may arise with your home can be resolved by us.
    </Fragment>
  </BigHero>

  <!-- Brands Widget ****************** -->

  <Brands
    id="brands"
    title="Trusted & Certified"
    subtitle=""
    icons={[]}
    images={[
      {
        src: '~/assets/images/bbb.webp',
        alt: 'bbb',
      },
      {
        src: '~/assets/images/google-guaranteed.png',
        alt: 'google guaranteed',
      },
      {
        src: '~/assets/images/homeadvisor.webp',
        alt: 'home advisor',
      },
    ]}
  />

  <!-- Testimonials Widget ************ -->
   <Testimonials
    id="testimonials"
    title="What Our Customers Say"
    subtitle="We take pride in our work and our customers' satisfaction."
    testimonials={[
      {
        title: 'Great Service!',
        testimonial: 'Elevate Heating & Cooling was great to work with. They were professional, on time, and did a great job. I would highly recommend them to anyone.',
        name: 'John Doe',
        job: 'Homeowner',
        image: {
          src: '~/assets/images/testimonial-1.jpg',
          alt: 'John Doe',
        },
      },
      {
        title: 'Highly Recommend!',
        testimonial: 'Elevate Heating & Cooling was great to work with. They were professional, on time, and did a great job. I would highly recommend them to anyone.',
        name: 'Jane Doe',
        job: 'Homeowner',
        image: {
          src: '~/assets/images/testimonial-2.jpg',
          alt: 'Jane Doe',
        },
      },
      {
        title: 'Great Service!',
        testimonial: 'Elevate Heating & Cooling was great to work with. They were professional, on time, and did a great job. I would highly recommend them to anyone.',
        name: 'John Doe',
        job: 'Homeowner',
        image: {
          src: '~/assets/images/testimonial-1.jpg',
          alt: 'John Doe',
        },
      },
    ]}
  />

  <Services
    id="services"
    tagline="Our HVAC Services"
    title="HVAC Contractor Serving Hillsboro, OR"
    subtitle="Elevate Heating & Cooling knows that finding the best HVAC contractor in Hillsboro, OR can be a struggle, as you strive to balance, expert advice, practical solutions, and superior service. We reconize the importance of providing high-quality workmanship while delivering our services."
    services={[
      {
        tagline: '',
        title: 'Air Conditioning',
        service: 'We provide installation, service, repair, maintenance, and tune-ups for all types of air conditioners.',
        // image: {
        //   src: '~/assets/images/ac-repair-maintenance.jpg',
        //   alt: 'Roof Replacement Image',
        // },
        serviceLink: '/roof-replacement',
      },
      {
        tagline: '',
        title: 'AC Installation',
        service: 'We offer the best quality, energy-efficient equipment available for your Air Conditioning replacement.',
        // image: {
        //   src: '~/assets/images/ac-repair-maintenance.jpg',
        //   alt: 'Roof Repair Image',
        // },
        serviceLink: '/roof-repair',
      },
      {
        tagline: '',
        title: 'Air Conditioning Repair',
        service: 'Help your equipment run at or near factory specs, depending on the age and condition of your ac system.',
        // image: {
        //   src: '~/assets/images/ac-repair-maintenance.jpg',
        //   alt: 'Metal Roofing Image',
        // },
        serviceLink: '/metal-roofing',
      },
      {
        tagline: '',
        title: 'Ductless Systems',
        service: 'Install an energy-efficient HVAC unit in your home.',
        // image: {
        //   src: '~/assets/images/air-conditioner.jpg',
        //   alt: 'Commercial Roofing Image',
        // },
        serviceLink: '/commercial-roofing',
      },
      {
        tagline: '',
        title: 'Heating Repair',
        service: "Our experienced HVAC technicians provide repairs for all types of furnaces and heat pumps.",
        // image: {
        //   src: '~/assets/images/heater-repair-maintenance.jpg',
        //   alt: 'Residential Roofing Image',
        // },
        serviceLink: '/residential-roofing',
      },
      {
        tagline: '',
        title: 'Heater Installation',
        service: "Our Professional HVAC technicians can help install your new energy-efficient heating system.",
        // image: {
        //   src: '~/assets/images/heater-installation.jpg',
        //   alt: 'Residential Roofing Image',
        // },
        serviceLink: '/residential-roofing',
      },
    ]}
/>

  <!-- HeroMiddle Widget ************** -->

  <HeroMiddle
    tagline="HVAC Financing Available"
    title="Flexible Financing Options"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat"
    image={{
      src: '~/assets/images/keep-your-hvac-unit-in-great-condition.jpg',
      alt: 'Features2 Image',
    }}
    callToAction1={{
      text: 'Learn More',
      href: '/hvac-financing',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    title=""
    subtitle=""
    isReversed
    items={[
      // {
      //   title: 'Description:',
      //   description:
      //     'Are you a startup with big dreams? AstroWind propels your success. Our template forges a seamless online presence, attracting investors and customers from day one. Astro 4.0 and Tailwind CSS ensure striking, responsive sites, leaving lasting impressions. Countless startups leverage AstroWind to kickstart their journey and resonate with audiences.',
      // },
      // {
      //   title: 'Benefits:',
      //   description: `Allow startups to quickly create professional websites without investing extensive time and resources. <br /> Make a memorable first impression with visually appealing design elements that highlight your startup's unique value proposition. <br /> Ensures your website looks stunning and works well on all devices. <br /> Engage potential investors and customers with engaging content, clear messaging, and intuitive navigation.`,
      // },
    ]}
    image={{
      src: '~/assets/images/elevate-fam-lg.jpg',
      alt: 'Startup Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      About Elevate Heating & Cooling, Inc
    </h3>
  </Fragment>
  <Fragment slot="content">
    <p class="mb-4">
      If you're looking for a top-rated HVAC company you can trust in the Hillsboro, OR area, look no further than Elevate Heating & Cooling. We provide comprehensive and high-quality HVAC service.
    </p>
  </Fragment>
  <Fragment slot="content">
    <p>
      We're a family owned and operated company. You'll experience the same respect we extend to all of our neighbors and friends. We enjoy saving our clients time, money, energy and resources. You can expect us to always be honest and upfront. We're a licensed and insured HVAC contractor with years of experience. Our owner oversees every job and does not cut corners.
    </p>
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
