.form {
  &-control {
    position: relative;
    width: 100%;
    // height: 3rem;
    margin-bottom: 1.5rem;
  }

  &-label {
    position: absolute;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    left: 1rem;
    top: 0.75rem;
    padding: 0 0.25rem;
    color: var(--clr-neutral-500);
    background: var(--clr-neutral-50);
    transition: all 0.3s ease;
  }

  &-input {
    // position: absolute;
    font-family: inherit;
    font-size: var(--fs-300);
    font-weight: 400;
    line-height: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    resize: none;
    width: 100%;
    height: auto;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    border: 2px solid var(--clr-neutral-400);
    color: var(--clr-neutral-500);
    background: transparent;
    transition: all 0.2s ease-in-out;

    &::placeholder {
      opacity: 0;
      visibility: hidden;
      color: transparent;
    }

    &:focus {
      outline: none;
      border: 2px solid var(--clr-primary-400);

      &~.form-label {
        top: -0.75rem;
        left: 1rem;
        z-index: 5;
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--clr-primary-400);
        transition: all 0.2s ease-in-out;
      }
    }

    &:not(:placeholder-shown).form-input {
      &:not(:focus) {
        &~.form-label {
          top: -0.75rem;
          left: 1rem;
          z-index: 9;
          font-size: 0.875rem;
          font-weight: 500;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}

.contact {
  &-inform {
    // padding: 4rem 2rem 2rem;
    color: var(--clr-neutral-500);
    background: var(---clr-neutral-50);
  }
}

// Google maps
iframe {
  display: block;
  width: 90%;
  max-width: 60rem;
  height: 25em;
  margin: 2rem auto;
}