// Reviews
.review {
  background: var(--clr-neutral-50);
	border-style: solid;
	border-width: 1px;
	border-color: var(--clr-primary-100);
	background-color: var(--clr-neutral-50);
	box-shadow: 0 2px 7px 0 rgba(20, 20, 43, 0.06);
    -webkit-transition: color 300ms ease, -webkit-transform 300ms ease;
    transition: color 300ms ease, -webkit-transform 300ms ease;
    transition: transform 300ms ease, color 300ms ease;
    transition: transform 300ms ease, color 300ms ease, -webkit-transform 300ms ease;
    text-decoration: none;
    -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  padding: 1.45em;
}

.reviews {
  h3 {
      font-weight: bold;
  }
}

// Google

#google-reviews {
  display: flex;
  flex-wrap: wrap;
}

.review-header {
  display: flex;
}

.review-picture {
  width: 5em;
  height: auto;
  align-self: center;
  margin-right: 1em;
}

.review-usergrade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.review-meta, .review-stars {
  font-size: 115%;
}

.review-author {
  text-transform: capitalize;
  font-weight: bold;
}

.review-date {
  opacity: .6;
  display: block;
}

.review-text {
  line-height: 1.55;
  text-align: left;
  max-width: 100%;
}

.review-stars ul {
  display: inline-block;
  list-style: none !important;
  margin: 0;
  padding: 0;
}

.review-stars ul li {
  float: left;
  list-style: none !important;
  margin-right: 1px;
  line-height: 1;
}

.review-stars ul li i {
  color: #eb6e00;
  //Google's Star Orange in Nov 2017 
  font-size: 1.4em;
  font-style: normal;
}

.review-stars ul li i.inactive {
  color: #c6c6c6;
}

.star:after {
  content: "\2605";
}

.buttons {
  margin: 20px 0 0 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.more-reviews {
  text-align: center;
}

.write-review {
  text-align: center;
}

.more-reviews a,
.write-review a {
  margin: 5px;
  border: 1px #eb6e00 solid;
  border-radius: 40px;
  padding: 10px;
  background-color: #eb6e00;
  color: #FFF;
  text-decoration: none;
}
