<div class="call">
  <div class="call-box-top">
    {{ if .site.Data.contact.phone }}
        <p class="call-phone">Phone: <a href="tel:{{ .site.Data.contact.phone }}">{{ .site.Data.contact.phone }}</a></p>
    {{ end }}
    {{ if .site.Data.contact.email }}
    <p class="call-email">Email:
      <a href="mailto:{{ .site.Data.contact.email }}">
        {{ .site.Data.contact.email }}
      </a>
    </p>
    {{ end }}
    {{ if .site.Data.contact.address }}
    <p class="call-address">Address: <a href={{ .site.Data.contact.GoogleMaps }}> {{ .site.Data.contact.address }} </a></p>
    {{ end }}
  </div>
    {{ if eq .show_button "true" }}
      <div class="call-box-bottom">
        <a href="{{ .site.Data.contact.contact_button_link | relURL }}" class="button">Contact</a>
      </div>
    {{ end }}
</div>
