<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "ContactPage",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "https://elevateheating.com/contact-us/"
		},
		"publisher": {
			"@type": "LocalBusiness",
			"@id": "https://elevateheating.com/",
			"name": "Elevate Heating & Cooling, Inc",
			"logo": "https://elevateheating.com/images/elevate-logo.png",
			"telephone": "+1-503-432-1221",
			"sameAs": ["https://www.facebook.com/ElevateHeating/",
			"https://www.instagram.com/elevateheatingandcooling/",
			"https://www.linkedin.com/company/elevate-heating-&-cooling-llc/"],
			"url": "https://elevateheating.com/",
			"image": "https://elevateheating.com/images/elevate-logo.png",
			"description": "Elevate Heating & Cooling provides a range of services from furance repair and maintenance to installing new furnaces, air conditioning units and mini-split systems. You can also count on us for regular maintenance and tune-up services on all brands of HVAC systems",
			"address" : {
        "@type" : "PostalAddress",
        "streetAddress" : "14979 NW 265th PL",
        "addressLocality" : "North Plains",
        "addressRegion" : "OR",
        "postalCode" : "97133",
        "addressCountry" : "US"
			}
		}
	}
	</script>