
<div class="grid grid--no-gutters mt-80">
    <div class="row row--no-gutters">
        <div class="col col--md-2 col-sm-12 col--md-flex col--no-gutters">
            <div class="service-area">
                <h3>Service Areas</h3>
                <ul class="list-none">
                    {{ range $.Site.Data.ServiceAreas }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>     
        </div>

        <div class="card col col--md-10 col--sm-12 col--md-flex col--no-gutters">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d714283.6996539086!2d-122.9525217!3d45.627307!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5d12e66afca05851!2sElevate+Heating+%26+Cooling%2C+LLC!5e0!3m2!1sen!2sus!4v1543959153384"
                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<footer>
    <div class="grid">
        <div class="row row--md-center">
            <div class="col col--md-6 col--sm-12">
                <p class="text text--sm-center text--md-right">{{.Site.Data.contact.address}} <br/>
                    <a class="phone-number" href="tel:{{ .Site.Data.contact.phone }}">
                        {{ .Site.Data.contact.phone }}
                    </a>
                </p>
            </div>
            <div class="col col--md-6 col--sm-12 col--md-first">
                <small class="text text--sm-center text--md-left">{{ replace .Site.Copyright "{year}" now.Year | markdownify}}</small>
            </div>
        </div>
    </div>
</footer>



