<div class="bg-neutral-50">
    <div class="container">
        <div class="top-header">
            <div class="service-areas">
                {{ .Site.Data.contact.headerblurb }}
            </div>
            <div class="call-us">
                <a class="top-header-phone" href="tel:{{ .Site.Data.contact.phone }}">{{ .Site.Data.contact.phone }}</a>
            </div>
        </div>
    </div>
</div>
<header>
    <div class="container">
      <div class="navbar">
        <a class="logo" href="{{ .Site.BaseURL }}">
          <img src="{{ .Site.Params.logo.mobile | relURL }}" height="{{ .Site.Params.logo.mobile_height }}" width="{{ .Site.Params.logo.mobile_width }}" alt="{{ .Site.Params.logo.alt }}" />
        </a>
        {{ partial "main-menu.html" . }}
        <div class="navbar-btn-wrapper">
          <a class="btn" data-type="accent" href="{{.Site.Data.contact.scheduleurl}}">
            {{ .Site.Data.contact.scheduleblurb }}
          </a>
        </div>
      </div>
    </div>
    <div class="mobile-cta">
      <div class="call-us-cta">
        <a href="tel:{{.Site.Data.contact.phone}}" class="mobile-btn top-header-phone">Call Us {{.Site.Data.contact.phone}}</a>
      </div>
      <div class="schedule-service-cta">
        <a href="{{.Site.Data.contact.scheduleurl}}" class="mobile-btn">
            {{ .Site.Data.contact.scheduleblurb }}
        </a>
      </div>
    </div>
</header>