<nav role="navigation">
  <span class="licensed text text--sm-center text--md-right">{{ .Site.Data.contact.licensed}}</span>
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
          <a href="#">
            {{ .Pre }}
            {{ .Name }}
          </a>
          <ul class="sub-menu">
            {{ range .Children }}
              <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL | relURL }}">{{ .Name }}</a>
            {{ end }}
          </ul>
        </li>
      {{ else }}
        <li>
          <a href="{{.URL | relURL }}">
            {{ .Pre }}
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>

