<nav role="navigation">
  <span class="top-phone">
    <a href="tel:{{ .Site.Data.contact.phone }}">
      {{ .Site.Data.contact.phone }}
    </a>
  </span>

  <span class="licensed">
    {{ .Site.Data.contact.licensed}}
  </span>
  <div class="schedule">
    <a class="btn btn-red" target="_blank" href="{{ .Site.Data.HouseCallPro.url }}">
      Book Now!
    </a>
  </div>
  <ul class="nav-ul hide-ul">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li class="dropdown hover {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
          <a class="nav-link {{ if $currentPage.HasMenuCurrent "main" . }}active-link{{ end }}" href="#">
            {{ .Pre }}
            {{ .Name }}
          </a>
          <ul class="sub-menu">
            {{ range .Children }}
              <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a class="nav-link" href="{{ .URL | relURL }}">{{ .Name }}</a>
            {{ end }}
          </ul>
        </li>
      {{ else }}
        <li>
          <a class="nav-link" href="{{.URL | relURL }}">
            {{ .Pre }}
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>

