<script type="application/ld+json">
	{
"@context": "https://schema.org/",
"@type": "Service",
"serviceType": {{ .serviceType }},
"description": {{ .description }},
"image": {{ .serviceImage }},
"provider": {
	"@type": "HVACBusiness",
	"name": "Elevate Heating & Cooling, Inc",
	"@id" : "https://elevateheating.com/"
}
}
</script>
<script type="application/ld+json">
	{
	"@context": "http://schema.org/",
	"@type": ["HVACBusiness"],
			"name": "Elevate Heating & Cooling, Inc",
			"telephone": "503-432-1221",
			"openingHours": "Mo-Fri 08:00-17:00",
			"hasMap": "https://www.google.com/maps?cid=6706676142287378513",
			"logo": "https://elevateheating.com/images/elevate-logo.png",
			"image": "https://elevateheating.com/images/elevate-logo.png",
			"url": "https://elevateheating.com",
			"address" : {
			"@type" : "PostalAddress",
			"streetAddress" : "14979 NW 265th PL",
			"addressLocality" : "North Plains",
			"addressRegion" : "OR",
			"postalCode" : "97133",
			"addressCountry" : "US"
			},
			"contactPoint" : {
					"contactType" : "customer service",
					"telephone" : "+1-503-432-1221"
			},
			"sameAs": ["https://www.facebook.com/ElevateHeating/",
			"https://www.instagram.com/elevateheatingandcooling/",
			"https://www.linkedin.com/company/elevate-heating-&-cooling-llc/"]
	}
	</script>