
{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
  <!-- some content to allow scrolling :)-->
<!-- <div class="hero">
  <div class="overlay"></div>
</div> -->
  <div class="bg-img" id="top-hero">
    <img class="hero-img" src="/images/hero.jpg" alt="">
    <div class="overlay"></div>
    <div class="hero-inner">
      <div class="content">
        {{ .Content }}
        <a href="/contact" class="btn btn-red">Contact Us</a>
      </div>
    </div>
  </div>

  
  <div class="container">
    <div class="call-to-action-red">
      <div class="main-content">
        <div class="r">
          <div class="c-100">
            <h3>
              {{ .Site.Data.home.callToAction1.title}}
            </h3>
            <p>
              {{ .Site.Data.home.callToAction1.subtitle}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="call-to-action-white">
      <div class="main-content">
        <div class="r">
          <div class="c-100">
            <h3>
              {{ .Site.Data.home.callToAction2.title}}
            </h3>
            <strong>
              {{ .Site.Data.home.callToAction2.subtitle}}
            </strong>
            <p>
              {{ .Site.Data.home.callToAction2.description}}:
            </p>
      
            <ul class="list-inline">
              {{ range $.Site.Data.home.callToAction2.servicesList }}
              <li>
                <a href="" class="link">{{ . }}</a>
              </li>
              {{ end }}
            </ul>

            <p>
              {{ .Site.Data.home.callToAction2.subDescription}}
            </p>
      
          </div>
        </div>
      </div>
    </div>

  </div>


    <div class="container">
      
      <div class="hero">
        <div class="hero-overlay"></div>
        <div class="r">
          <div class="c-100 center">
            <h3>{{ .Site.Data.home.callToAction3.title}}</h3>
            <p>{{ .Site.Data.home.callToAction3.subtitle}}</p>
            <a href="/contact" class="btn btn-red">Contact Us</a>
          </div>
        </div>
      </div>
    </div>


  

  
    <div class="container">
        <div class="services__container">
          {{ range $.Site.Data.HomePageServices }}
            <div class="services__item c-25">
              <img class="services__img" width="316" src="images/{{ .image}}" alt="">
              <div class="services__figcaption">
                <h3>{{ .title }}</h3>
                <p>{{ .description }}</p>
              </div>
            </div>
          {{ end }}
        </div>
    </div>







{{ end }}