
{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
  <!-- some content to allow scrolling :)-->
<!-- <div class="hero">
  <div class="overlay"></div>
</div> -->
  <div id="top-hero">
    <div class="overlay"></div>
    <div class="hero-inner">
      <div class="content">
        {{ .Content }}
        <a href="/contact" class="btn btn-red">Contact Us</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="main-content">
      <div class="call-to-action1">
        <div class="r">
          <div class="c-100">
            {{ .Site.Data.home.callToAction1.title}}
          </div>
        </div>
        
      </div>
    </div>
  </div>

{{ end }}