
{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
  <div class="bg-img" id="top-hero">
    <img class="hero-img" src="/images/hero.jpg" alt="">
    <div class="overlay"></div>
    <div class="hero-inner">
      <div class="content">
        {{ .Content }}
        <a href="/contact" class="btn btn-red">Contact Us</a>
      </div>
    </div>
  </div>

  <div class="call-to-action-red">
    <div class="grid grid--container">
      <div class="row">
          <div class="col col--sm">
            <h3>
              {{ .Site.Data.home.callToAction1.title}}
            </h3>
            <p>
              {{ .Site.Data.home.callToAction1.subtitle}}
            </p>
          </div>
      </div>
    </div>
  </div>

  <div class="call-to-action-white">
    <div class="grid grid--container">
        <div class="row">
          <div class="col col--sm">
            <h3>
              {{ .Site.Data.home.callToAction2.title}}
            </h3>
            <strong>
              {{ .Site.Data.home.callToAction2.subtitle}}
            </strong>
            <p>
              {{ .Site.Data.home.callToAction2.description}}:
            </p>
            <ul class="list-inline">
              {{ range $.Site.Data.home.callToAction2.servicesList }}
              <li>
                <a href="" class="link">{{ . }}</a>
              </li>
              {{ end }}
            </ul>
            <p>
              {{ .Site.Data.home.callToAction2.subDescription}}
            </p>
          </div>
        </div>
    </div>
  </div>

  <div class="grid grid--no-gutters">
    <div class="row row--no-gutters">
      <div class="hero col col--sm">
        <div class="hero-overlay"></div>
        <div class="center">
          <h3>{{ .Site.Data.home.callToAction3.title}}</h3>
          <p>{{ .Site.Data.home.callToAction3.subtitle}}</p>
          <a href="/contact" class="btn btn-red">Contact Us</a>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid--no-gutters">
    <div class="row row--no-gutters">
      {{ range $.Site.Data.HomePageServices }}
      <div class="card col col--md-3 col--sm-12 col--no-gutters">
        <a href="{{ .url }}">
          <img class="card__img" src="images{{ .image}}" alt="">
          <div class="card__body">
            <h3 class="card__title">{{ .title }}</h3>
            <p class="card__text">{{ .description }}</p>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>

  <div class="grid grid--container">
    <div class="row">
        <div class="col col--sm">
          <h3>
            {{ .Site.Data.home.callToAction4.title}}
          </h3>
          <p>{{ .Site.Data.home.callToAction4.description}}</p>
        </div>
        <div class="col col--sm">
          <img class="img-responsive mx-auto" src="/images/get-the-hvac-services-you-need.jpg" alt="">
        </div>
    </div>
  </div>

  <div class="grid grid--container">
    <div class="row">
      <div class="col col--md-3 col--sm-12">
        Home Advisor here
      </div>
    </div>
  </div>

{{ end }}

{{ define "nav_js" }}
<script type="text/javascript">
  (function () {
    $(document).ready(function () {
      return $('#burger').click(function () {
        $(this).toggleClass('active');
        return $('#menu').toggleClass('active');
      });
    });

    $(document).ready(function () {
      $(window).bind('scroll', function () {
        var distance;
        distance = 50;
        if ($(window).scrollTop() > distance) {
          $('#navigation').addClass('scrolled');
        } else {
          $('#navigation').removeClass('scrolled');
        }
      });
    });

  }).call(this);
</script>
{{ end }}